<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="text" class="form-control" placeholder='Application Name'
    <%= f.text_field :title, autofocus: true %>
  <br>
  <input type="text" class="form-control" placeholder='Acronym eg: FIMS'
    <%= f.text_field :acronym %>
  <br>
  <textarea class="form-control" placeholder='App Description'
    <%= f.text_area :description %>
  <br>
  <input type="text" class="form-control" placeholder='Product Owner'
    <%= f.text_field :prod_owner %>
  <br>
  <input type="text" class="form-control" placeholder='Product Manager'
    <%= f.text_field :prod_mgr %>
  <br>
  <input type="text" class="form-control" placeholder='Lead Developer'
    <%= f.text_field :lead_dev %>
  <br>
  <input type="text" class="form-control" placeholder='Version Number'
    <%= f.text_field :version %>
  <br>
  <input type="text" class="form-control" placeholder='Link to the App'
    <%= f.text_field :link_to_app %>
  <br>
  <input type="text" class="form-control" placeholder='Link to Product Backlog'
    <%= f.text_field :link_to_backlog %>
  <br>
  <input type="text" class="form-control" placeholder='Link to Code Repo'
    <%= f.text_field :link_to_repo %>
  <br>
  <div>
    <span><strong>Deployment Date</strong></span>  <%= f.date_select :deploy_date %>
  </div>
  <br>
  <div>
    <span><strong>Mobile App</strong></span>  <%= f.check_box :responsive %>
  </div>
  <br>
  <h3>Application User Base</h3>
  <input type="text" class="form-control" placeholder='User Group eg: OIEA'
    <%= f.text_field :user_1 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_1 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OPHS'
    <%= f.text_field :user_2 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_2 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OFO'
    <%= f.text_field :user_3 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_3 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OCIO'
    <%= f.text_field :user_4 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_4 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OM'
    <%= f.text_field :user_5 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_5 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OA'
    <%= f.text_field :user_6 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_6 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: ODIFP'
    <%= f.text_field :user_7 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_7 %>
  <br>
  <input type="text" class="form-control" placeholder='User Group eg: OPPD'
    <%= f.text_field :user_8 %>
  <br>
  <input type="text" class="form-control" placeholder='# of users eg: 3,500'
    <%= f.text_field :user_count_8 %>
  <br>
  <h3>Technology Stack</h3>
  <input type="text" class="form-control" placeholder='Programming Language and Version eg: Python 3.5.1'
    <%= f.text_field :prog_lang_1 %>
  <br>
  <input type="text" class="form-control" placeholder='Version of Programming Language eg: 3.5.1'
    <%= f.text_field :prog_lang_version %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :prog_lang_eol_1 %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='Framework'
    <%= f.text_field :framework_1 %>
  <br>
  <input type="text" class="form-control" placeholder='Framework Version eg: 4.2.1'
    <%= f.text_field :framework_version %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :framework_eol_1 %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='Database'
    <%= f.text_field :database %>
  <br>
  <input type="text" class="form-control" placeholder='Database Version eg: 9.5.1'
    <%= f.text_field :database_version %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :database_eol %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='Web Server'
    <%= f.text_field :web_server %>
  <br>
  <input type="text" class="form-control" placeholder='Version #'
    <%= f.text_field :web_server_version %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :web_server_eol %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='App Server'
    <%= f.text_field :app_server %>
  <br>
  <input type="text" class="form-control" placeholder='Version #'
    <%= f.text_field :app_server_version %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :app_server_eol %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='Technology'
    <%= f.text_field :tech_stack_1 %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :tech_stack_eol_1 %>
  </div>
  <br>
  <input type="text" class="form-control" placeholder='Technology'
    <%= f.text_field :tech_stack_2 %>
    <br>
    <div>
      <span><strong>EOL Date</strong></span> <%= f.date_select :tech_stack_eol_2 %>
    </div>
  <br>
  <input type="text" class="form-control" placeholder='Technology'
    <%= f.text_field :tech_stack_3 %>
  <br>
  <div>
    <span><strong>EOL Date</strong></span> <%= f.date_select :tech_stack_eol_3 %>
  </div>
  <br>
  <h3>Application Interfaces</h3>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_1 %>
  <br>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_2 %>
  <br>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_3 %>
  <br>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_4 %>
  <br>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_5 %>
  <br>
  <input type="text" class="form-control" placeholder='System Intefaces/Dependencies'
    <%= f.text_field :sys_dep_6 %>
  <br>
  <div class="field">
    <%= f.label :app_priority %><br>
    <%= f.number_field :app_priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
