<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @app.title %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @app.acronym %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Prod mgr:</strong>
  <%= @app.prod_mgr %>
</p>

<p>
  <strong>Prod owner:</strong>
  <%= @app.prod_owner %>
</p>

<p>
  <strong>Lead dev:</strong>
  <%= @app.lead_dev %>
</p>

<p>
  <strong>Deploy date:</strong>
  <%= @app.deploy_date %>
</p>

<p>
  <strong>User 1:</strong>
  <%= @app.user_1 %>
</p>

<p>
  <strong>User count 1:</strong>
  <%= @app.user_count_1 %>
</p>

<p>
  <strong>User 2:</strong>
  <%= @app.user_2 %>
</p>

<p>
  <strong>User count 2:</strong>
  <%= @app.user_count_2 %>
</p>

<p>
  <strong>User 3:</strong>
  <%= @app.user_3 %>
</p>

<p>
  <strong>User count 3:</strong>
  <%= @app.user_count_3 %>
</p>

<p>
  <strong>User 4:</strong>
  <%= @app.user_4 %>
</p>

<p>
  <strong>User count 4:</strong>
  <%= @app.user_count_4 %>
</p>

<p>
  <strong>User 5:</strong>
  <%= @app.user_5 %>
</p>

<p>
  <strong>User count 5:</strong>
  <%= @app.user_count_5 %>
</p>

<p>
  <strong>User 6:</strong>
  <%= @app.user_6 %>
</p>

<p>
  <strong>User count 6:</strong>
  <%= @app.user_count_6 %>
</p>

<p>
  <strong>User 7:</strong>
  <%= @app.user_7 %>
</p>

<p>
  <strong>User count 7:</strong>
  <%= @app.user_count_7 %>
</p>

<p>
  <strong>User 8:</strong>
  <%= @app.user_8 %>
</p>

<p>
  <strong>User count 8:</strong>
  <%= @app.user_count_8 %>
</p>

<p>
  <strong>Responsive:</strong>
  <%= @app.responsive %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app.version %>
</p>

<p>
  <strong>Pro lang 1:</strong>
  <%= @app.prog_lang_1 %>
</p>

<p>
  <strong>Prog lang eol 1:</strong>
  <%= @app.prog_lang_eol_1 %>
</p>

<p>
  <strong>Framework 1:</strong>
  <%= @app.framework_1 %>
</p>

<p>
  <strong>Framework eol 1:</strong>
  <%= @app.framework_eol_1 %>
</p>

<p>
  <strong>Tech stack 1:</strong>
  <%= @app.tech_stack_1 %>
</p>

<p>
  <strong>Tech stack eol 1:</strong>
  <%= @app.tech_stack_eol_1 %>
</p>

<p>
  <strong>Tech stack 2:</strong>
  <%= @app.tech_stack_2 %>
</p>

<p>
  <strong>Tech stack eol 2:</strong>
  <%= @app.tech_stack_eol_2 %>
</p>

<p>
  <strong>Tech stack 3:</strong>
  <%= @app.tech_stack_3 %>
</p>

<p>
  <strong>Tech stack eol 3:</strong>
  <%= @app.tech_stack_eol_3 %>
</p>

<p>
  <strong>Tech stack 4:</strong>
  <%= @app.tech_stack_4 %>
</p>

<p>
  <strong>Tech stack eol 4:</strong>
  <%= @app.tech_stack_eol_4 %>
</p>

<p>
  <strong>Tech stack 5:</strong>
  <%= @app.tech_stack_5 %>
</p>

<p>
  <strong>Tech stack eol 5:</strong>
  <%= @app.tech_stack_eol_5 %>
</p>

<p>
  <strong>Tech stack 6:</strong>
  <%= @app.tech_stack_6 %>
</p>

<p>
  <strong>Tech stack eol 6:</strong>
  <%= @app.tech_stack_eol_6 %>
</p>

<p>
  <strong>Sys dep 1:</strong>
  <%= @app.sys_dep_1 %>
</p>

<p>
  <strong>Sys dep 2:</strong>
  <%= @app.sys_dep_2 %>
</p>

<p>
  <strong>Sys dep 3:</strong>
  <%= @app.sys_dep_3 %>
</p>

<p>
  <strong>Sys dep 4:</strong>
  <%= @app.sys_dep_4 %>
</p>

<p>
  <strong>Sys dep 5:</strong>
  <%= @app.sys_dep_5 %>
</p>

<p>
  <strong>Sys dep 6:</strong>
  <%= @app.sys_dep_6 %>
</p>

<p>
  <strong>User:</strong>
  <%= @app.user_id %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
