<% @page_title = @app.title %>
<% if ((@app.prog_lang_eol_1- Date.today) < $year1) || ((@app.framework_eol_1- Date.today) < $year1) || ((@app.tech_stack_eol_1 - Date.today) < $year1) || ((@app.tech_stack_eol_2 - Date.today) < $year1) || ((@app.tech_stack_eol_3 - Date.today) < $year1) || ((@app.tech_stack_eol_4 - Date.today) < $year1) %>
  <% ((@app.tech_stack_eol_5 - Date.today) < $year1) || ((@app.tech_stack_eol_6 - Date.today) < $year1) %>
<% flash[:danger] = 'This app is in TECHNICAL RISK! Review Technology Stack.'  %>
<% end %>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
<div class="panel panel-primary">
  <div class="panel-heading">
      <h1><%= @app.title %>  (<%= @app.acronym %>)</h1>
      <p>
        <strong>Organizational Priority:</strong>
        <%= @app.app_priority %>
      </p>
  </div><!-- panel heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Description</h3>
          </div>
          <div class="panel-body">
          <p>
          <%= sanitize(@app.description) %>
        </p>
      </div>
    </div>
      </div><!-- column-lg -->
      <div class="col-lg-4">
        <!-- User base calculation -->
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">User Base (<%= userBase %>)</h3>
          </div>
          <div class="panel-body">
        <p>
          <strong><%= @app.user_1 %> <%= @app.user_count_1 %></strong>
        </p>
        <p>
          <strong><%= @app.user_2 %> <%= @app.user_count_2 %></strong>
        </p>
        <p>
          <strong><%= @app.user_3 %> <%= @app.user_count_3 %></strong>
        </p>
        <p>
          <strong><%= @app.user_4 %> <%= @app.user_count_4 %></strong>
        </p>
        <p>
          <strong><%= @app.user_5 %> <%= @app.user_count_5 %></strong>
        </p>
        <p>
          <strong><%= @app.user_6 %> <%= @app.user_count_6 %></strong>
        </p>
        <p>
          <strong><%= @app.user_7 %> <%= @app.user_count_7 %></strong>
        </p>
        <p>
          <strong><%= @app.user_8 %> <%= @app.user_count_8 %></strong>
        </p>
      </div>
    </div>
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">General Info</h3>
          </div>
          <div class="panel-body">
        <p>
          <strong>Product Owner:</strong>
          <%= @app.prod_owner %>
        </p>
        <p>
          <strong>Product Manager:</strong>
          <%= @app.prod_mgr %>
        </p>
        <p>
          <strong>Lead Developer:</strong>
          <%= @app.lead_dev %>
        </p>
        <p>
          <strong>Deployment Date:</strong>
          <%= @app.deploy_date %>
        </p>
        <p>
          <strong>Mobile Friendly:</strong>
          <%= @app.responsive %>
        </p>

        <p>
          <strong>Version:</strong>
          <%= @app.version %>
        </p>
        <p>
          <strong>Version:</strong>
          <%= @app.link_to_app %>
        </p>
        <p>
          <strong>Version:</strong>
          <%= @app.link_to_backlog %>
        </p>
        <p>
          <strong>Version:</strong>
          <%= @app.link_to_repo %>
        </p>
      </div>
      </div><!-- panel -->
      </div><!-- column-lg-4 -->
    </div><!-- row -->
  </div><!-- panel body -->
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Technology Stack</h3>
          </div>
          <div class="panel-body">
      <p> <% if @app.prog_lang_1.present? %>
        <% if ((@app.prog_lang_eol_1 - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Programming Language:</strong>
        <%= @app.prog_lang_1 %> <%= @app.prog_lang_version %> <strong>EOL:</strong> <%= @app.prog_lang_eol_1 %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.prog_lang_eol_1 - Date.today)) && ((@app.prog_lang_eol_1 - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Programming Language:</strong>
        <%= @app.prog_lang_1 %> <%= @app.prog_lang_1 %><strong>EOL:</strong> <%= @app.prog_lang_eol_1 %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Programming Language:</strong>
        <%= @app.prog_lang_1 %> <%= @app.prog_lang_1 %><strong>EOL:</strong> <%= @app.prog_lang_eol_1 %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.framework_1.present? %>
        <% if ((@app.framework_eol_1 - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Framework:</strong>
        <%= @app.framework_1 %> <%= @app.framework_version %><strong>EOL:</strong> <%= @app.framework_eol_1 %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.prog_lang_eol_1 - Date.today)) && ((@app.framework_eol_1 - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Framework:</strong>
        <%= @app.framework_1 %> <%= @app.framework_version %><strong>EOL:</strong> <%= @app.framework_eol_1 %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Framework:</strong>
        <%= @app.framework_1 %> <%= @app.framework_version %><strong>EOL:</strong> <%= @app.framework_eol_1 %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.database.present? %>
        <% if ((@app.database_eol - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Database:</strong>
        <%= @app.database %> <%= @app.database_version %><strong>EOL:</strong> <%= @app.database_eol %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.tech_stack_eol_4 - Date.today)) && ((@app.database_eol - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Database:</strong>
        <%= @app.database %> <%= @app.database_version %><strong>EOL:</strong> <%= @app.database_eol %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Database:</strong>
        <%= @app.database %> <%= @app.database_version %><strong>EOL:</strong> <%= @app.database_eol %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.web_server.present? %>
        <% if ((@app.web_server_eol - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Web Server:</strong>
        <%= @app.web_server %> <%= @app.web_server_version %><strong>EOL:</strong> <%= @app.web_server_eol %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.web_server_eol - Date.today)) && ((@app.web_server_eol - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Web Server:</strong>
        <%= @app.web_server %> <%= @app.web_server_version %><strong>EOL:</strong> <%= @app.web_server_eol %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Web Server:</strong>
        <%= @app.web_server %> <%= @app.web_server_version %><strong>EOL:</strong> <%= @app.web_server_eol %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.app_server.present? %>
        <% if ((@app.app_server_eol - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>App Server:</strong>
        <%= @app.app_server %> <%= @app.app_server_version %><strong>EOL:</strong> <%= @app.app_server_eol %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.app_server_eol_6 - Date.today)) && ((@app.app_server_eol - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>App Server:</strong>
        <%= @app.app_server %> <%= @app.app_server_version %><strong>EOL:</strong> <%= @app.app_server_eol %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>App Server:</strong>
        <%= @app.app_server %> <%= @app.app_server_version %><strong>EOL:</strong> <%= @app.app_server_eol %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.tech_stack_1.present? %>
        <% if ((@app.tech_stack_eol_1 - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Technology:</strong>
        <%= @app.tech_stack_1 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_1 %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.tech_stack_eol_1 - Date.today)) && ((@app.tech_stack_eol_1 - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Technology:</strong>
        <%= @app.tech_stack_1 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_1 %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Technology:</strong>
        <%= @app.tech_stack_1 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_1 %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.tech_stack_2.present? %>
        <% if ((@app.tech_stack_eol_2 - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Technology:</strong>
        <%= @app.tech_stack_2 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_2 %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.tech_stack_eol_2 - Date.today)) && ((@app.tech_stack_eol_2 - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Technology:</strong>
        <%= @app.tech_stack_2 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_2 %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Technology:</strong>
        <%= @app.tech_stack_2 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_2 %>
        </div>
        <% end %>
        <% end %>
      </p>

      <p> <% if @app.tech_stack_3.present? %>
        <% if ((@app.tech_stack_eol_3 - Date.today)<$year1) %>
        <div class="alert alert-danger">
        <strong>Technology:</strong>
        <%= @app.tech_stack_3 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_3 %> <i>...less than 1 year</i>
        </div>
        <% elsif ($year1 < (@app.tech_stack_eol_3 - Date.today)) && ((@app.tech_stack_eol_3 - Date.today) < $year2) %>
        <div class="alert alert-warning">
        <strong>Technology:</strong>
        <%= @app.tech_stack_3 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_3 %> <i>...less than 2 years</i>
        </div>
        <% else %>
        <div class="alert alert-success">
        <strong>Technology:</strong>
        <%= @app.tech_stack_3 %> <strong>EOL:</strong> <%= @app.tech_stack_eol_3 %>
        </div>
        <% end %>
        <% end %>
      </p>

    </div>
  </div>
    </div><!-- col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">System Interfaces</h3>
        </div>
        <div class="panel-body">
      <p>
        <%= @app.sys_dep_1 %>
      </p>
      <p>
        <%= @app.sys_dep_2 %>
      </p>
      <p>
        <%= @app.sys_dep_3 %>
      </p>
      <p>
        <%= @app.sys_dep_4 %>
      </p>
      <p>
        <%= @app.sys_dep_5 %>
      </p>
      <p>
        <%= @app.sys_dep_6 %>
      </p>
    </div>
  </div>
    </div><!-- col-lg-6 -->
    </div><!-- row -->
    </div><!-- panel body2 -->
</div>
