<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Catalog <%= "| #{@page_title}" if @page_title %></title>
  <meta name="description" content="This application is used to provide a central repository (catalog) for all of the applications on your enterprise. The system is set to provide a health check based on the end of life (EOL) of your applications' components. It also provides application biographical information, the user base, and system interfaces.">
	<meta name="keywords" content="enterprise, information technology, software, systems, applications, apps, mobile, hardware, server, cloud, SaaS, PaaS, IaaS, lifecycle, maintenance, network">
	<meta name="author" content="@JimT2 - Jim Tunnessen">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "App Catalog", root_path, class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="#">LINK</a></li>
            <li class="text-danger"><% if user_signed_in? %>
        			<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        			<% else %>
        			<%= link_to 'Login', user_session_path %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
        			<% end %></li>
          </ul>
          <% if current_page?(root_path) %>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <%= search_form_for @q, url: apps_path, html: { method: :post } do |f| %>
              <input type="text" class="form-control" placeholder="Search for..."
              <%= f.search_field :title_or_acronym_or_prog_lang_1_or_framework_1_or_tech_stack_1_or_tech_stack_2_or_tech_stack_3_or_tech_stack_4_or_tech_stack_5_or_tech_stack_6_cont %>
            </div>
            <%= f.submit('Search!', :class => 'btn btn-large btn-primary')  %>
            <% end %>
          </form>
          <% else %>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
          <%= link_to 'Click to Search', root_path, :class => 'btn btn-large btn-primary' %>
        </div>
      </form>
          <% end %>

        </div><!-- /.navbar-collapse -->
    </nav>
    <p class="pull-right"><strong>Welcome <%= current_user.email if user_signed_in? %></strong></p>
    <br>
    <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end -%>
    <%= yield %>


</body>
<footer>
  <div class="row">
	   <div class="col-lg-6">
       <br>
      <p>&copy; 2016 Jim Tunnessen</p><br>
     </div>
 </div>
</footer>
</div>
</html>
